@{
    ViewBag.Title = "Home Page";
}

    <main>
        <div class="main">
        <div class="item"><a href="合作關係管理.html"><img src="images\未命名-3-01.svg" alt="" class="w-100" width="80%"></a></div>
        <div class="item"><a href="訂單管理.html"><img src="images\未命名-3-03.svg" alt="" class="w-100" width="80%"></a></div>
        <div class="item"><a href="換貨管理.html"><img src="images\未命名-3-05.svg" alt="" class="w-100" width="80%"></a></div>
        </div>
        <div class="main">
        <div class="item"><a href="出貨管理.html"><img src="images\未命名-3-02.svg" alt="" class="w-100" width="80%"></a></div>
        <div class="item"><a href="商品管理.html"><img src="images\未命名-3-06.svg" alt="" class="w-100" width="80%"></a></div>
        <div class="item"><a href="活動管理.html"><img src="images\未命名-3-04.svg" alt="" class="w-100" width="80%"></a></div>
        </div>
    </main>

